<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603828338952-3olsjn589bu6ij0alehon3g476qur6sq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603828338952-3olsjn589bu6ij0alehon3g476qur6sq</string>
	<key>API_KEY</key>
	<string>AIzaSyDndg9CpiGEzh0t69GQyEOa5DEcmKWNQNA</string>
	<key>GCM_SENDER_ID</key>
	<string>603828338952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TeamCoryca.TreeHacks</string>
	<key>PROJECT_ID</key>
	<string>treehacks-c2aec</string>
	<key>STORAGE_BUCKET</key>
	<string>treehacks-c2aec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603828338952:ios:2883c076e5bc2e97b96cbd</string>
	<key>DATABASE_URL</key>
	<string>https://treehacks-c2aec.firebaseio.com</string>
</dict>
</plist>